@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;1,700&display=swap');

$primary-color: #089de3;
$secondary-color: #fa8e2a;

$primary-font-family: 'Bebas Neue', cursive;
$secondary-font-family: 'Montserrat', sans-serif;

:root {
  --title-font-family: #{$primary-font-family};
  --text-font-family: #{$secondary-font-family};
}

